---
import Layout from "@layouts/Layout.astro";
import CountDown from "@sections/CountDown.astro";
import Footer from "@sections/Footer.astro";
import Hero from "@sections/Hero.astro";
import Info from "@sections/Info.astro";
import PrincipalDate from "@sections/PrincipalDate.astro";
---

<Layout>
  <Hero />

  <main class="flex flex-col gap-10 md:gap-20">
    <PrincipalDate />
    <Info />
    <CountDown />
  </main>

  <Footer />
</Layout>
