---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="animate-blurred-fade-in">
  <h1>La Velada del Año IV</h1>
  <p>¡Bienvenido a la velada más esperada del año!</p>
</div>

<style>
  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  p {
    color: #8390a1;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }
</style>
