---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body>
    <div class="max-w-6xl px-10 py-40 mx-auto">
      <!-- en "<slot />" se renderizan cada una de nuestras páginas -->
      <slot />
    </div>
  </body>
</html>
